name: CI
on:
  pull_request:
  push:
    branches:
    - master

jobs:
  ubuntu-java-25:
    name: Ubuntu (Java 25)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Install dependencies
        run: sudo npm install -g less
      - name: Install Gettext
        run: sudo apt-get update && sudo apt-get install -y gettext
      - name: Build with Maven
        run: mvn clean package
      - name: Create package
        run: |
          cd phoenicis-dist/src/scripts
          bash phoenicis-create-package.sh
      - uses: actions/upload-artifact@v4
        with:
          name: Ubuntu
          path: phoenicis-dist/target/*.deb
          if-no-files-found: error
  flatpak:
    name: Flatpak
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Install dependencies
        run: sudo npm install -g less
      - name: Install Gettext
        run: sudo apt-get update && sudo apt-get install -y gettext
      - name: Build with Maven
        run: mvn clean package -DskipTests # no need to run tests again
      - name: Install Flatpak dependencies
        run: |
          sudo apt-get install -y flatpak flatpak-builder elfutils
          flatpak --user remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak --user -y install flathub org.freedesktop.Platform/x86_64/22.08
          flatpak --user -y install flathub org.freedesktop.Sdk/x86_64/22.08
          flatpak --user -y install flathub org.freedesktop.Sdk.Compat.i386/x86_64/22.08
          flatpak --user -y install flathub org.freedesktop.Sdk.Extension.toolchain-i386/x86_64/22.08
          flatpak --user -y install flathub org.freedesktop.Sdk.Extension.openjdk17/x86_64/22.08
          flatpak --user -y install flathub org.freedesktop.Platform.Compat.i386/x86_64/22.08
          flatpak --user -y install flathub org.freedesktop.Platform.GL32.nvidia-460-39/x86_64/1.4
      - name: Build flatpak
        run: |
          cd phoenicis-dist/src/flatpak
          flatpak-builder build-dir org.phoenicis.playonlinux.yml --force-clean
  macos-java-25:
    name: Mac OS (Java 25)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Install dependencies
        run: sudo npm install -g less
      - name: Install Gettext
        run: brew install gettext
      - name: Build with Maven
        run: mvn clean package
      - name: Create package
        run: |
          cd phoenicis-dist/src/scripts
          bash phoenicis-create-package.sh
      #- uses: actions/upload-artifact@v4
      #  with:
      #    name: Mac OS
      #    path: phoenicis-dist/target/packages/*.app
      #    if-no-files-found: error
