# CI Workflow

name: CI

on:
  push:
    branches:
      - fix/ci-build-issues

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install gettext
        run: sudo apt-get install -y gettext
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Add Maven Repositories
        run: |
          echo 'mavenCentral()' >> ~/.m2/settings.xml
          echo 'maven { url "https://repository.apache.org/content/repositories/releases/" }' >> ~/.m2/settings.xml
          echo 'maven { url "https://repo.spring.io/release" }' >> ~/.m2/settings.xml
      - name: Build project
        run: mvn clean install