name: Linter
on: pull_request

jobs:
  java:
    name: Lint .java files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
        
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Run Maven formatter
        run: mvn formatter:format

      - name: Commit changes
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: EndBug/add-and-commit@v9
        with:
          author_name: PhoenicisBot
          author_email: git@phoenicis.org
          message: 'Lint .java files'
          add: '*.java'
