name: Merge me!

on:
  workflow_run:
    types:
      - completed
    workflows:
      - 'CI'

permissions:
  contents: write
  pull-requests: write

jobs:
  merge-me:
    name: Merge me!
    runs-on: ubuntu-latest
    steps:
      - if: ${{ github.event.workflow_run.conclusion == 'success' }}
        name: Merge me!
        uses: ridedott/merge-me-action@v2
        with:
          GITHUB_TOKEN: ${{ secrets.DEPENDABOT_AUTO_MERGE || secrets.GITHUB_TOKEN }}
          ENABLE_GITHUB_API_PREVIEW: true
