name: Merge me!

on:
  workflow_run:
    types:
      - completed
    workflows:
      - 'CI'

permissions:
  contents: write
  pull-requests: write

jobs:
  merge-me:
    name: Merge me!
    if: >-
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.actor.login == 'dependabot[bot]' &&
      github.event.workflow_run.pull_requests[0]
    runs-on: ubuntu-latest
    steps:
      - name: Merge me!
        uses: ridedott/merge-me-action@v2
        with:
          GITHUB_TOKEN: ${{ secrets.DEPENDABOT_AUTO_MERGE || secrets.GITHUB_TOKEN }}
          ENABLE_GITHUB_API_PREVIEW: true
